body {
    /* background-image: linear-gradient(#EECCD3, #80C4B7, #EEC95C, #E3856B); */
    
    /* background-image: linear-gradient(#B7B9A8, #D1B5A3, #E36858, #0C0D0D); */
    background-image: linear-gradient(#EECCD3, #80C4B7, #EEC95C, #E3856B,#B7B9A8, #D1B5A3, #E36858, #0C0D0D);
    

}

div {

    /* gap: 10px; */
}

.all {
    background-color: gray;
    margin: auto;
    width: 1000px;
    border: 5px solid;
    padding: 10px;
}

.content {
    text-align: center;
}

.box {
    margin: 10px;
    padding: 10px;
    height: 60px;
    width: 60px;
    background-color: yellow;
    border: solid 2px black;
}


.flex {
    height:auto;
    background-color: black;
    display: flex;

}
#df{
    display: flex;
}

#fd-row {

    flex-direction: row;
}

#fd-row-rev {

    flex-direction: row-reverse;

}

#fd-column {

    flex-direction: column;

}

#fd-column {

    flex-direction: column;

}

#fd-column-rev {

    flex-direction: column-reverse;

}

#fw-nowrap {

    flex-wrap: nowrap;

}

#fw-wrap {

    flex-wrap: wrap;

}
#fw-wrap-rev{

    flex-wrap:wrap-reverse ;
}
#ff{
    flex-flow: row-reverse wrap-reverse ;
    /* flex-flow: row-reverse wrap; */
}
#jc-fs{
    justify-content: flex-start;
}
#jc-fe{
    justify-content: flex-end;
}
#jc-c{
    justify-content:center;
}
#jc-sb{
    justify-content: space-between;
}
#jc-sa{
    justify-content: space-around;
}
#jc-se{
    justify-content: space-evenly;
}
#ai-fs{
    align-items: flex-start;
}
#ai-fe{
    align-items: flex-end;
}
#ai-c{
    align-items: center;
}
#ai-s{
    align-items:stretch; 
}