nav {
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;

    // justify-content:center;
    .set1 {
        display: flex;
        padding: 8px 16px;
        justify-content: flex-start;
        list-style: none;

        li {

            padding: 8px 16px;
        }
    }

    .set2 {
        display: flex;
        padding: 8px, 16px;
        justify-content: right;
        list-style: none;
    }
}